/* Main colors and fonts */
:root {
  --color-for-background: #18191a;
  --border-color: #e4e6eb;
  --text-color: #ccd0d5;
  --link-color: #2e89ff;
  --font-size-title: 20px;
  --font-size-base: 16px;
  --link-size: 18px;
}

/* Сolors assignment and font size*/
.app {
  background-color: var(--color-for-background);
  font-size: var(--font-size-base);
  color: var(--text-color);
  min-height: 100vh;
  padding: 20px;
  height: 100%;
  width: 100%;
}

/* move list right and add style */
.move-right {
  padding-left: 16px;
  list-style: circle;
}
/* All links size and color */
.link {
  font-size: var(--link-size);
  color: var(--link-color);
}
/* Big size font for titles */
.big-font {
  font-size: var(--font-size-title);
}

.txt-align{
  text-align: center;
}

