mixin footer()
  footer.footer 
    .wrapper.footer__wrapper 
      .footer__contacts-block
        .footer__title Need a project?
        .footer__contacts (239) 555-0108
        .footer__contacts tanya.hill@example.com
      .footer__social
        a.footer__link(href='#')
          svg.icon.icon-instagram
            use(xlink:href='#icon-instagram')
        a.footer__link(href='#')
          svg.icon.icon-facebook
            use(xlink:href='#icon-facebook')
        a.footer__link(href='#')
          svg.icon.icon-twitter
            use(xlink:href='#icon-twitter')
        a.footer__link(href='#')
          svg.icon.icon-linkedin
            use(xlink:href='#icon-linkedin')
      .footer__info © Copyright Manifest Theme. Allrights reserved

