mixin navigation()
  navigation.c-navigation#js-header-navigation
    ul.c-navigation__list
      +navigation-item('home')
      +navigation-item('about')
      +navigation-item('works')
      +navigation-item('blog')
      +navigation-item('contact')
