.social-icon{
  margin-right: 5px;
  
  &__link{
    border: 2px solid $c-light-grey;
    justify-content: center;
    transition: $t-normal;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 30px;
    width: 30px;
  }

  &__link:hover{
    border: 2px solid $c-yellow;
    background-color: $c-grey;
  }
  
}
.social-icon:last-child{
  margin-right: 0;
}