mixin info-block()
  .info
    .info__wrapper
      h2.info__title Sahariar Kabir
      .info__divider.h-padding-t 
      .info__subtitle.h-padding-t Frontend Developer
      .info__icons.h-padding-t 
        +social
      .info__text 
        p.simple-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus dui sit amet ligula efficitur, sit amet lacinia massa dictum. Etiam accumsan felis a nunc facilisis, ut euismod lacus placerat. Praesent rutrum eget massa a convallis. Nam vitae augue malesuada, accumsan mauris ut, consectetur.
      .info__divider--bottom
        .divider-small 
        .divider-big 
        .divider-small
      .info__button 
        +button('view profile')