.footer {
  background-color: $c-grey-100;
  justify-content: center;
  align-items: center;
  color: $c-black;
  height: 300px;
  margin-top: 90px;
  display: flex;
  position: relative;

  @include media("<=tablet") {
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 50px;
    height: 420px;
  }

  @include media("<=small") {
    height: 450px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // display: flex;
    height: 100%;

    @include media("<=tablet") {
      flex-direction: column;
      justify-content: start;
      text-align: center;
    }
  }

  &__title {
    font-family: $ff-red-hat-display;
    letter-spacing: 0.05em;
    font-size: em(48);
    font-weight: 300;
  }

  &__contacts {
    padding-top: 15px;

    @include media("<=tablet") {
      padding-top: 20px;
    }

    &:first-child {
      padding-top: 30px;
    }
  }

  &__social {
    display: flex;
    @include media("<=tablet") {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__link {
    @include size(50);
    border: 1px solid $c-grey-700;
    justify-content: center;
    transition: $t-normal;
    align-items: center;
    margin-right: 25px;
    color: $c-grey-700;
    font-size: 24px;
    display: flex;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link:hover {
    background-color: $c-grey-700;
  & .icon {
    color: $c-white;
  }
}

  &__info {
    bottom: 30px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 40%;

    @include media("<=tablet") {
      // margin-top: 40px;
      position: static;
      // background-color: $c-grey-100;
    }
  }
}
