mixin formItem--country()
  .form
    label.form__item--country
      .form__title Country 
      select(class='countries' name='countries')
        option(value='choose-country') Choose country
        option(value='Ukraine') Ukraine
        option(value='England') England
        option(value='Uganda') Uganda
        option(value='Japan') Japan
        option(value='Paraguay') Paraguay
        option(value='Peru') Peru