:root {
  --c-backgroung: #3399cc;
  --c-border: #2b81ac;
  --c-border-table: #ffffff;
  --c-text: #ffffff;
  
  /* *Fonts */
  --f-s-cities: 22px;
  --sun-pic: 28px;
  --footer-text: 16px;

  /* *Colors of backgrounds in weather table */
  --c-blue: #3399cc;
  --c-light-blue: #33cccc;
  --c-purple: #996699;
  --c-dark-orange: #c24747;
  --c-orange: #e2674a;
  --c-yellow: #ffcc66;
  --c-light-green: #99cc99;
  --c-sea-green: #669999;
  --c-pink: #cc6699;
  --c-green: #339966;
  --c-dirty-purple: #666699;
}
