:root {
  --c-dark-blue: #2b81ac;
  --c-white: #ffffff;
  
  /* *Fonts */
  --fs-medium: 22px;
  --fs-big: 28px;
  --fs-small: 16px;

  /* *Colors of backgrounds in weather table */
  --c-blue: #3399cc;
  --c-light-blue: #33cccc;
  --c-purple: #996699;
  --c-dark-orange: #c24747;
  --c-orange: #e2674a;
  --c-yellow: #ffcc66;
  --c-light-green: #99cc99;
  --c-sea-green: #669999;
  --c-pink: #cc6699;
  --c-green: #339966;
  --c-dirty-purple: #666699;
}
