// * Colors
$c-almost-white:#E4E4E4;
$c-light-grey: #E5E5E5;
$c-dark-grey: #545454;
$c-white: #ffffff;
$c-black: #1C1C1C;
$c-grey: #969696;
$c-blue: #007BFF;
$c-red: #f42424;


// * Font family
$ff-roboto: 'Roboto', sans-serif;
$ff-inter: 'Inter', sans-serif;

// * Font sizes
$fs-base: 15;