.e-burger {
  background-color: transparent;
  transition: $t-normal;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  border: none;
  padding: 5px;
  z-index: 801;

  // &:hover {
  //   // background-color: rgba($c-black, 0.1);
  // }

  &--open{
    transform: rotate(310deg);

    & > .e-burger__line{
      transform: rotate(-30deg) translateX(-3px);
      
      &:nth-child(2){
        transform: rotate(0);
      }
      
      &:last-child{
        // opacity: 0;
        transform: rotate(30deg) translate(-3px);
      }
    }
  }

  &__line {
    background-color: $c-black;
    transition: $t-normal;
    margin-top: 8px;
    display: block;
    width: 35px;
    height: 2px;

    &:first-child {
      margin-top: 0;
    }
  }
}
