:root {
  /* * Colors */
  --c-black: #18191a;
  --c-grey: #d5d2cc;

  /* * Fonts */
  /* Font */
  --ff-raleway: "Raleway", sans-serif;
  /* Font-sizes */
  --fs-big: 20px;
  --fs-medium: 18px;
  --fs-small: 16px;

  /* *Transition */
  --b-normal: cubic-bezier(0.4, 0, 0.2, 1);
  --t-normal: 0.35s var(--b-normal);
}
